[Desktop Entry]
Version=1.0
Name=Go, go, go GUID it
Comment=GUID Generator for Linux
Exec=/usr/bin/x-terminal-emulator -e "/opt/Go-go-go-GUID-it/SRC/guidit.sh"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/PassGen/src/guidit.png
Categories=GNOME;GTK;Development;
Name[en_GB]=Go, go, go GUID it
