[Desktop Entry]
Version=1.0
Name=Let's UUID it
Comment=UUID Generator for Linux
Exec=/usr/bin/x-terminal-emulator -e "/opt/Lets-UUID-it/SRC/uuidit.sh"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/PassGen/src/uuidit.png
Categories=GNOME;GTK;Development;
Name[en_GB]=Let's UUID it
